## Introduction
In this report, we will perform time series analysis on daily household consuption of energy

## Dataset Columns

### Features
#### date
Date in format dd/mm/yyyy
#### time
time in format hh:mm:ss
#### global_active_power
household global minute-averaged active power (in kilowatt)
#### global_reactive_power
household global minute-averaged reactive power (in kilowatt)
#### voltage
minute-averaged voltage (in volt)
#### global_intensity
household global minute-averaged current intensity (in ampere)
#### sub_metering_1
energy sub-metering No. 1 (in watt-hour of active energy). It corresponds to the kitchen, containing mainly a dishwasher, an oven and a microwave (hot plates are not electric but gas powered).
#### sub_metering_2
energy sub-metering No. 2 (in watt-hour of active energy). It corresponds to the laundry room, containing a washing-machine, a tumble-drier, a refrigerator and a light.
#### sub_metering_3
energy sub-metering No. 3 (in watt-hour of active energy). It corresponds to an electric water-heater and an air-conditioner.

[Dataset Description](http://archive.ics.uci.edu/ml/datasets/Individual+household+electric+power+consumption)

## Import And Clean Data

In [20]:
# import requrired modules
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import mean_absolute_error, mean_squared_error
import math

import warnings
warnings.filterwarnings('ignore')

# constants
PATH = "C:/Users/shagu/Documents/CST_T04/COMP_4949_BIG_DATA/data_sets/"
DATA_FILE = "household_power_consumption.txt"

In [39]:
# dataset head
# NAN and "?" values are strings, we will chnage them to pandas NAN
df = pd.read_csv(
        PATH + DATA_FILE, sep=';', 
        low_memory=False,
        na_values=['nan','?']
)
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    float64
 3   Global_reactive_power  float64
 4   Voltage                float64
 5   Global_intensity       float64
 6   Sub_metering_1         float64
 7   Sub_metering_2         float64
 8   Sub_metering_3         float64
dtypes: float64(7), object(2)
memory usage: 142.5+ MB

In [45]:
# We will merge date and time to one column
df["Date"] = pd.to_datetime(df["Date"])
df["Time"] = pd.to_timedelta(df["Time"])

df["DateTime"] = df["Date"] + df["Time"]
df.drop(columns=["Date", "Time"])

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,DateTime
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00
...,...,...,...,...,...,...,...,...
2075254,0.946,0.000,240.43,4.0,0.0,0.0,0.0,2010-11-26 20:58:00
2075255,0.944,0.000,240.00,4.0,0.0,0.0,0.0,2010-11-26 20:59:00
2075256,0.938,0.000,239.82,3.8,0.0,0.0,0.0,2010-11-26 21:00:00
2075257,0.934,0.000,239.70,3.8,0.0,0.0,0.0,2010-11-26 21:01:00
2075258,0.932,0.000,239.55,3.8,0.0,0.0,0.0,2010-11-26 21:02:00

In [47]:
# Fill null values with mean
df = df.fillna(df.mean())